---
- name: Manage service
  hosts: all
  become: yes   # needed to manage systemd services
  gather_facts: no

  vars:
    service_name: "experiment-launcher.service"
    service_state: started   # options: started, stopped

  tasks:
    - name: Ensure service is in the desired state
      ansible.builtin.systemd:
        name: "{{ service_name }}"
        state: "{{ service_state }}"
        enabled: False
