# Part of the redesigned client management system
# Clones or pulls a git repository
---
- name: Ensure Git repository is present
  hosts: wrong_host_fallback
  gather_facts: no
  vars:
    repo_url: "https://github.com/{{ org_name }}/{{ repo_name }}.git"
    dest_dir: "/home/pi/{{ repo_name }}"
    version: "main"

  tasks:
    - name: Ensure the Git repository is cloned or updated
      ansible.builtin.git:
        repo: "{{ repo_url }}"
        dest: "{{ dest_dir }}"
        version: "{{ version }}"
        update: yes
        force: yes
        accept_hostkey: yes
      become: no
      remote_user: pi
      register: git_result
      until: git_result is succeeded
      retries: 3          # try up to 5 times
      delay: 5           # wait 10 seconds between retries